html,
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

@font-face {
    font-family: 'Jost';
    src: url(Jost/static/Jost-Regular.ttf);
}

@font-face {
    font-family: 'Jost-Medium';
    src: url(Jost/static/Jost-Medium.ttf);
}

@font-face {
    font-family: 'Jost-Light';
    src: url(Jost/static/Jost-Light.ttf);
}

:root {
    --black: #000;
    --white: #fff;
    --gray: #333;
    --yellow: #E2B013;
}

body {
    margin: 0;
    font-family: 'Jost';
    color: var(--black);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px clamp(1rem, calc((100% - 1110px) / 2), 5rem);
}

.logoAndNav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: 1.1rem;
    display: inline-block;
    position: relative;
    color: var(--black);
}

nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: var(--black);
    transition: width .3s ease-in-out;
}

nav a:hover::after,
nav a:focus::after {
    width: 100%;
}

nav a:active,
nav a:focus {
    color: var(--yellow);
}

nav a:active::after,
nav a:focus::after {
    background: var(--yellow);
}

.buyNowAndImages {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buyNowAndImages a {
    background: var(--black);
    color: var(--white);
    padding: 14px;
    width: 11rem;
    text-align: center;
    font-size: 1.1rem;
}

.buyNowAndImages a:hover {
    background: #ffc918;
}

.buyNowAndImages a:active,
.buyNowAndImages a:focus {
    background: #bce213;
}

.twoImages {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.nav-burger span {
    display: none;
    height: 3px;
    background: var(--black);
    border-radius: 2px;
}

nav.active {
    right: 0;
}

.close-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 991px) {

    .twoImages {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .buyNowAndImages {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-burger span {
        display: block;
    }

    .close-btn {
        display: block;
    }

    nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        background: #666;
        padding-top: 80px;
        transition: right 0.3s;
    }

    nav.active {
        display: block;
        right: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    nav a {
        color: #fff;
        font-size: 1.5rem;
    }

    .buyNowAndImages a {
        text-align: center;
        white-space: nowrap;
        width: 6.5rem;
        padding: 10px;
        font-size: 13px;
    }
}

/* ui-kit */

.ui-kit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ui-kitTextAndLittleImages {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.ui-kit-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.ui-kit-text p,
.ui-kit-text h1 {
    margin: 0;
}

.ui-kit-text p:first-of-type {
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--white);
    background: var(--yellow);
    width: 22%;
    font-size: 14px;
}

.ui-kit-text h1 {
    white-space: nowrap;
    font-size: 6rem;
    font-weight: normal;
}

.ui-kit-text h1 span {
    display: block;
    font-size: 3rem;
}

.ui-kit-text p:last-child {
    font-size: 1.7rem;
    max-width: 580px;
    margin-inline: auto;
}



.ui-kit-little-images {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.ui-kit-little-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ui-kit-little-images img {
    width: 60px;
}

.ui-kit-little-images p {
    text-transform: uppercase;
    max-width: 100px;
    font-size: 12px;
}


.ui-kit-Bigimage {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: width 0.3s ease-in-out;
}

@media (max-width:1330px) {
    .ui-kit {
        justify-content: flex-start;
        padding-inline: 1rem;
    }
}

@media (max-width:1170px) {
    .ui-kit-text h1 {
        font-size: 4.5rem;
    }
}

@media (max-width:991px) {

    .ui-kit-little-images img {
        width: 60px;
    }

    .ui-kit-little-images p {
        text-transform: uppercase;
        max-width: 100px;
        font-size: 10px;
    }

    .ui-kit-text h1 {
        font-size: 3.6rem;
    }

    .ui-kit-text p:last-child {
        font-size: 1.5rem;
        max-width: 580px;
        margin-inline: auto;
    }

    .ui-kit-text h1 span {
        font-size: 2.4rem;
    }

    .ui-kit {
        flex-direction: column;
        justify-content: center;
    }

    .ui-kit-text p:first-of-type {
        display: none;
    }

    .ui-kitTextAndLittleImages {
        gap: 2.5rem;
    }

    .ui-kit-little-images {
        gap: 2rem;
    }

    .ui-kit-Bigimage {
        width: calc(728px / 1.2);
    }
}

@media(max-width:767px) {
    .lupaAndTelega {
        display: flex !important;
        flex-direction: column;
    }
}

.lupaAndTelega {
    display: contents;
}

/* zero-design */

.zero-design {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.zero-designImage {
    max-width: 100%;
    object-fit: cover;
    transition: width 0.3s ease-in-out;
}

.zero-designText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.zero-designText h2 {
    margin: 0;
    white-space: nowrap;
    font-size: 6rem;
    font-weight: normal;
}

.zero-designText p {
    margin: 0;
    font-size: 1.2rem;
    max-width: 600px;
}

.zero-designBlocks {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.about__group {
    display: flex;
    gap: 10px;
}

.about__group a {
    padding: 10px 35px 10px 15px;
    color: var(--white);
    background: var(--black);
    font-size: 14px;
    white-space: nowrap;
}

.about__group a:hover {
    background: #ffc918;
}

@media (max-width:991px) {
    .zero-design {
        flex-direction: column-reverse;
        gap: 4rem;
        margin-top: 6rem;
        padding-inline: 2rem;
    }

    .zero-designText {
        padding-left: 2rem;
    }

    .zero-designText h2 {
        font-size: 4.5rem;
    }
}

@media (max-width:767px) {
    .zero-designText h2 {
        font-size: 3.5rem;
    }

    .about__group a {
        padding: 10px 20px 10px 15px;
        font-size: 12px;
    }
}


/* landing-pages */
.landing-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 8rem 0 1rem;
}

.landing-pages h2 {
    background: var(--black);
    color: var(--white);
    width: 25rem;
    padding: 5px 5rem 15px 13px;
    margin-left: 4.4rem;
    font-size: 2.3rem;
    font-weight: normal;
    white-space: nowrap;
    align-self: flex-start;
}

.landing-pagesImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.landing-pagesImages figure {
    padding: 30px;
    background: #f5f5f5;
    transition: transform 0.3s;
}

.landing-pagesImages figure:hover {
    transform: scale(1.1);
}

.landing-pagesImages figure:focus {
    background: #ffc918;
    border-radius: 50px;
}

.landing-pagesImages img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.landing-pagesImages figcaption {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.3rem 0 3rem;
}

/* Responsive */
@media (max-width: 991px) {
    .landing-pages h2 {
        width: 20rem;
        font-size: 1.8rem;
        padding: 5px 1rem 15px 30px;
    }

    .landing-pagesImages figure {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .landing-pages h2 {
        width: 18rem;
        font-size: 1.5rem;
    }

    .landing-pagesImages {
        gap: 1rem;
    }

    .landing-pagesImages figure {
        width: 38vw;
        padding: 10px;
        margin: 10px;
    }

    .landing-pagesImages figcaption {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}


/* company */

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 8rem 0 1rem;
}

.company h2 {
    background: var(--black);
    color: var(--white);
    width: 17rem;
    padding: 5px 5rem 15px 25px;
    margin-left: 5.5rem;
    font-size: 2.2rem;
    font-weight: normal;
    white-space: nowrap;
    align-self: flex-start;
}


.company-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.company-images figure {
    margin: 0;
    padding: 30px;
    background: #f5f5f5;
}

.company-images figure:hover {
    transform: scale(1.1);
}

.company-images figure:focus {
    background: #ffc918;
    border-radius: 50px;
}

.company-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.company-images figcaption {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.3rem 0 3rem;
}

@media (max-width: 991px) {
    .company h2 {
        width: 15rem;
        font-size: 1.8rem;
        padding: 5px 1rem 15px 15px;
        margin-left: 0;
        align-self: center;
    }

    .company-images figure {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .company-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .company h2 {
        margin-left: 2.8rem;
        width: 14rem;
        font-size: 1.7rem;
    }

    .company-images figure {
        width: 38vw;
        padding: 10px;
        margin: 10px;
    }

    .company-images figcaption {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}

/* cms */

.cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 8rem 0 1rem;
}

.cms h2 {
    background: var(--black);
    color: var(--white);
    width: 17rem;
    padding: 5px 5rem 15px 25px;
    margin-left: 5.5rem;
    font-size: 2.2rem;
    font-weight: normal;
    white-space: nowrap;
    align-self: flex-start;
}


.cms-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.cms-images figure {
    margin: 0;
    padding: 30px;
    background: #f5f5f5;
}

.cms-images figure:hover {
    transform: scale(1.1);
}

.cms-images figure:focus {
    background: #ffc918;
    border-radius: 50px;
}

.cms-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.cms-images figcaption {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.3rem 0 3rem;
}

@media (max-width: 991px) {
    .cms h2 {
        width: 15rem;
        font-size: 1.8rem;
        padding: 5px 1rem 15px 15px;
        margin-left: 0;
        align-self: center;
    }

    .cms-images figure {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .cms-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .cms h2 {
        margin-left: 2.8rem;
        width: 14rem;
        font-size: 1.7rem;
    }

    .cms-images figure {
        width: 38vw;
        padding: 10px;
        margin: 10px;
    }

    .cms-images figcaption {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}




/* cms */

.utility {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 8rem 0 1rem;
}

.utility h2 {
    background: var(--black);
    color: var(--white);
    width: 17rem;
    padding: 5px 5rem 15px 25px;
    margin-left: 5.5rem;
    font-size: 2.2rem;
    font-weight: normal;
    white-space: nowrap;
    align-self: flex-start;
}


.utility-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.utility-images figure {
    margin: 0;
    padding: 30px;
    background: #f5f5f5;
}

.utility-images figure:hover {
    transform: scale(1.1);
}

.utility-images figure:focus {
    background: #ffc918;
    border-radius: 50px;
}

.utility-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.utility-images figcaption {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.3rem 0 3rem;
}

@media (max-width: 991px) {
    .utility h2 {
        width: 15rem;
        font-size: 1.8rem;
        padding: 5px 1rem 15px 15px;
        margin-left: 0;
        align-self: center;
    }

    .utility-images figure {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .utility-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .utility h2 {
        margin-left: 2.8rem;
        width: 14rem;
        font-size: 1.7rem;
    }

    .utility-images figure {
        width: 38vw;
        padding: 10px;
        margin: 10px;
    }

    .utility-images figcaption {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    padding-inline: 6rem;
    width: 100%;
    flex-wrap: wrap;
}

.footer-sendAndContacts {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.footer-send {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-send h3 {
    font-weight: normal;
    font-size: 1.5rem;
}

.footer-sendInputAndButton {
    display: flex;
    height: 2.3rem;
}

.footer-sendInputAndButton input {
    width: 22rem;
    margin: 0;
}

.footer-sendInputAndButton button {
    color: var(--white);
    background-color: var(--black);
    border: none;
    outline: none;
    padding: 0 2rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
}

.footer-sendInputAndButton button:hover {
    background: #ffc918;
}

.footer-sendInputAndButton button:active,
.footer-sendInputAndButton button:focus {
    background: #bce213;
}

.footer-contacts {
    display: flex;
    margin: 0;
}

.footer-menu {
    display: grid;
    grid-template-columns: 13rem 13rem 1fr;
    grid-template-rows: 12rem 1fr;
}


.footer-menu>div {
    display: flex;
    flex-direction: column;
}

.footer-menu h3 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0;
}

.footer-menu>div ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.footer-menu>div ul li a {
    display: inline-block;
    position: relative;
    color: var(--gray);
}


.footer-menu>div ul li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background: var(--black);
    transition: width .3s ease-in-out;
}


.footer-menu>div ul li a:hover::after,
.footer-menu>div ul li a:focus::after {
    width: 100%;
}

.footer-menu>div ul li a:active,
.footer-menu>div ul li a:focus {
    color: var(--yellow);
}

.footer-menu>div ul li a:active::after,
.footer-menu>div ul li a:focus::after {
    background: var(--yellow);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-inline: 6rem;
    width: 100%;
    margin-top: 10rem;
}

.footer-bottom a {
    text-transform: uppercase;
    font-size: 10px;
}

.footer-bottom a span {
    color: rgba(226, 176, 19, 1);
    cursor: pointer;
}

@media(max-width:1400px) {
    .footerTop {
        padding-inline: 1rem;
    }
}

@media(max-width:991px) {
    .footer-sendAndContacts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footerTop {
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 12rem 1fr;
        width: 100vw;
    }
}

@media(max-width:767px) {
    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15rem 1fr;
        width: 100vw;
    }

    .footer-sendInputAndButton input {
        width: 60vw;
    }
}
